#input{
    width:50% !important;
}

.text{
    padding-top: 100px !important;
}
body {
  background-color: lightpink !important;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 50px;
}
h1, p, h2, h3, a {
  color: white !important;
}

#myAnimation {
  width: 800px;
  height: 655px;
  position: relative;
  background-image: url('hearts.png');
  visibility:hidden;
}